<section class="project-detail-container" *ngIf="(PageData)">

	<!-- PROJECT MEDIA -->
	<section class="row">
		<div class="column">
			<cdf-media [mediaModel]="PageData.MediaModel"></cdf-media>
		</div>
	</section>

	<!--PROJECT TITLE-->
	<section class="row">
		<div class="column">
			<h2 class="project-detail-container__title">{{PageData.Title}}</h2>
		</div>
	</section>

	<!--PROJECT DESCRIPTION-->
	<section class="row">
		<div class="column">
			<p class="project-detail-container__intro" [innerHTML]="PageData.Description"></p>
		</div>
	</section>

	<!--PROJECT BODY-->
	<section class="row">
		<div class="column">
			<span [innerHTML]="PageData.Body"></span>
		</div>
	</section>


</section>
