@import '../../../../../styles/variables.scss';
@import '../../../../../styles/breakpoints.scss';


.broadcast-card
{
	border: solid 1px $color-border;
	border-radius: 0.325rem;
	padding: 0.75rem;

	&__title
	{
		margin: 1.5rem 0 1rem 0;
	}

	p
	{
		margin: 0.5rem 0;
	}
}

cdf-media
{
	height: 45px;
	margin: auto;
	width: 250px;
}
