@import '../variables';
@import '../breakpoints';

h1
{
	color: $color-grey-dark;
	font-family: $font-family-header;
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	letter-spacing: 3px;

	&.logo
	{
		background-clip: border-box;
		background-image: url("/assets/images/logo-Small.png");
		background-origin: padding-box;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 0;
		text-indent: -99999px;
		margin: auto;
		height: 46px;
		width: 222px;

		@include bp-custom('min-width : 25rem')
		{
			background-image: url("/assets/images/logo-Medium.png");
			height: 62px;
			width: 311px;
		}

		@include bp-medium()
		{
			background-image: url("/assets/images/logo-Large.png");
			height: 92px;
			width: 461px;
		}

		@include bp-large()
		{
			background-image: url("assets/images/logo-Xlarge.png");
			height: 131px;
			width: 653px;
		}
	}
}

h2
{
	font-family: $font-family-header;
	font-size: 1.75rem;
	font-weight: bold;
	margin: 0;

	&.logo
	{
		background-clip: border-box;
		background-image: url("/assets/images/Screwtop-Logo-Isolated.png");
		background-origin: padding-box;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 0;
		text-indent: -99999px;
		margin: auto;
		height: 30px;
		width: 30px;		
	}
	
	&.page-title
	{
		color: $color-secondary;
		font-family: AmericanTypeWriter;
		font-size: 2.5rem;
		font-weight: 700;
		margin: 1rem 0;
		text-align: center;
		width: 100%;		
	}

	&.section-title
	{
		border-bottom: solid 1px $color-border;
	}
}

h3
{
	font-family: $font-family-header;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}

h4
{
	font-family: $font-family-subheader;
	font-size: 1.25rem;
	margin: 0;
}

h5
{
	font-family: $font-family-subheader;
	font-size: 1rem;
	margin: 0;
}

h6
{
	font-family: $font-family-subheader;
	font-size: 0.875rem;
	margin: 0;
}