@import '../variables';
@import '../breakpoints';

.page-container
{

	// media queries using breakpoints defined in breakpoints.scss
	@include bp-large()
	{
		margin-top: 4.125rem;
	}		


	header
	{
		&[role=page]
		{
			position: relative;

			.header-container
			{
				border: solid 0px chartreuse;
				bottom: 0;			
				left: 0;
				margin: auto;
				position: absolute;
				padding: 0;
				right: 0;
				top: 0;

				h2
				{
					color: $color-white;
					font-family: $font-family-header;
					font-size: 2.5rem;				
					font-weight: bold;
					line-height: 1.125;
					margin: 0 auto;
					padding: 2rem 1.5rem 0;
					text-align: center;

					@include bp-custom('min-width : 600px')
					{
						font-size: 3rem;
					}					
				}

				h3
				{
					color: $color-white;
					font-family: $font-family-subheader;
					font-size: 1.25rem;				
					font-weight: bold;
					line-height: 1.25;
					margin: 0 auto;
					padding: 2rem 3rem 0;
					text-align: center;
					text-transform: uppercase;

					@include bp-custom('min-width : 600px')
					{
						font-size: 1.75rem;	
					}					
				}				
			}
		}
	}

	&__content
	{
		margin: 2rem 0;
	}		
}