@import '../../../../../styles/variables';
@import '../../../../../styles/breakpoints';


.projects-list-container
{
	@include bp-medium()
	{
		h2.page-title
		{
			font-size: 4rem;
		}	
	}	

	stm-media-slider
	{
		display: block;
		margin: 2rem 0 0 0;
	}	
}