<section class="projects-list-container text-center" *ngIf="(PageData)">
	<section class="row align-center">
		<div class="column">
			<h2 class="page-title">Projects</h2>
		</div>
	</section>
	<section class="row align-center">
		<div class="column large-8">
			<h3>{{PageData.Message}}</h3>
		</div>
	</section>

	<stm-media-slider [mediaModelList]="PageData.ProjectsList" 
						(onMediaClick)="doFeatureClick($event)"
						[showTitle]="true" 
						[showType]="false"></stm-media-slider>
</section>