<stm-desktop-header [isHomeInView]='isHomeInView' [isServicesInView]='isServicesInView' [isProjectsInView]='isProjectsInView'
    [isProcessInView]='isProcessInView' [isProductionsInView]='isProductionsInView'>

    <section id="homePageTop" class="page-container" *ngIf="PageData">

        <!--PAGE HEADER-->
        <header id="intro" class="text-center" role="page" isInView (notify)='onNotifyHomeInView($event)' style="background-image: url(&quot;https://a022bcec-0c8d-4f5d-b4ad-338c24b49149-hosted.cloudcms.net/static/node/dbaf4b343f54397bb4ba?branchId=c27456c5add2b76e6f5a&quot;);min-height: 43vw;max-width: 100vw;background-size:cover;background-repeat:no-repeat;margin:0 auto;">
                            <section  class="cdf-background-image"  style="background-image: url(&quot;https://a022bcec-0c8d-4f5d-b4ad-338c24b49149-hosted.cloudcms.net/static/node/68560192e33c1fc8a661?branchId=c27456c5add2b76e6f5a&quot;);min-height: 43vw;max-width: 48vw;background-size:cover;background-repeat:no-repeat;margin:0 auto;">        
                </section>
            <!--PAGE MEDIA
            <cdf-video-background [mediaModel]="PageData.BackgroundVideo"></cdf-video-background>
        -->
        </header>

        <!--MAIN CONTENT ON HOME PAGE-->
        <div class="main-container">

            <!-- LEARN MORE -->
            <div id="learnMoreContainer" class="learnMoreContainer text-center">
                <section class="align-center">
                    <h3 class="learnMoreContainer__title">
                        <i class="fa fa-arrow-down"></i> Learn More...
                    </h3>
                </section>
            </div>


            <!-- SERVICES -->
            <div id="serviceContainer" class="serviceContainer" isInView (notify)='onNotifyServiceInView($event)'>
                <stm-services-list></stm-services-list>
            </div>


            <!-- PORTFOLIO -->
            <div id="projectContainer" class="projectContainer" isInView (notify)='onNotifyProjectInView($event)'>
                <stm-projects-list-slide (NotifyProjectCount)="onNotifyProjectCount($event)"></stm-projects-list-slide>
            </div>

			 <!-- ABOUT US INTRODUCTION -->
            <div id="aboutContainer" class="aboutContainer" isInView (notify)='onNotifyAboutInView($event)'>
                <stm-about-detail></stm-about-detail>
            </div>
        </div>
    </section>
</stm-desktop-header>
