@import '../../../../styles/variables.scss';
@import '../../../../styles/breakpoints.scss';

.jwplayer video
{
	&.jw-stretch-fill
	{
		video
		{
			-o-object-fit: unset !important;
			object-fit: unset !important;
		}
	}
}

video
{
	-o-object-fit: unset !important;
	object-fit: unset !important;
}

@mixin responsive
{
	// media queries using breakpoints defined in breakpoints.scss
	@include bp-medium-mid()
	{
		height: 25.63rem;
	}

	@include bp-large()
	{
		height: 30rem;
	}
}

.page-container
{
	header
	{
		&[role=page]
		{
			@include responsive;

			cdf-video-background
			{
				@include responsive;

				/deep/
				{
					video
					{
						-o-object-fit: unset;
						object-fit: unset;

						@include bp-large()
						{
							-o-object-fit: contain;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}


// media queries using breakpoints defined in breakpoints.scss
@include bp-large()
{
	.page-container
	{
		header
		{
			&[role=page]
			{
				position: relative;

				.shadow
				{
					background-color: rgba(0,0,0,0.45);
					border-radius: 0.3125rem;
					padding: 2.5rem 0;
					text-align: center;
				}

				.row
				{
					max-width: 100% !important;
					width: 100% !important;
				}
			}
		}
	}

	.header-container
	{
		border: solid 10px chartreuse;
		right: 0 !important;
	}

	.main-container
	{
		position: relative;
		background-color: $color-white;
	}



	stm-social-media-list
	{
		/deep/
		{
			stm-social-media-item
			{
				display: inline-block;
				font-size: 2.75rem;
				margin: 0 0.5rem;

				a
				{
					color: $color-grey;
				}
			}
		}
	}


	/*
	==========================================================================
	LEARN MORE
	==========================================================================
	*/
	.learnMoreContainer
	{
		opacity: 1;
		padding: 1.25rem 0 0 0;
		transition: all 1.5s ease-out;

		&__title
		{
			color: $color-secondary;
			font-family: "OpenSansBold";
			font-size: 2rem;
		}
	}



	/*
	==========================================================================
	SERVICES
	==========================================================================
	*/
	.serviceContainer
	{
		opacity: 0;
		padding: 3.125rem 0 4rem 0;
		text-align: center;
		transition: all 2.25s ease-out;
	}



	/*
	==========================================================================
	PROJECTS
	==========================================================================
	*/
	.projectContainer
	{
		clip-path: inset(0 0 0 0);
	}


	/*
	==========================================================================
	PROCESS
	==========================================================================
	*/
	.processContainer
	{
		color: $color-white;
		background-color: $color-black;
		text-align: center;
		padding: 5.5rem 0;
		position: relative;
		overflow: hidden;

		&:before
		{
			background: url('/assets/images/Texture-Background.png') no-repeat;
			background-position: 50% 0;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			left: 0;
			opacity: 0.6;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}



	/*
	==========================================================================
	PRODUCTION
	==========================================================================
	*/
	.productionContainer
	{
		color: $color-black;
		background-color: $color-white;
		padding: 4.25rem 0;
		position: relative;
		overflow: hidden;
	}


	/*
	==========================================================================
	MISCELLANEOUS
	==========================================================================
	*/
	.fade-in
	{
		opacity: 1;
	}
	.fade-out
	{
		opacity: 0;
	}
}


@include bp-small()
{
	.page-container
	{

	}
}
