<section class="service-list-container text-center" *ngIf="(ServicesPageModel)">
	<section class="row align-center">
		<div class="column">
			<h2 class="page-title">Services</h2>
		</div>
	</section>
	<section class="row align-center">
		<div class="column large-8">
			<h3 class="description-service">{{ServicesPageModel.ServiceMessage}}</h3>
		</div>
	</section>

	<stm-media-slider [mediaModelList]="ServicesPageModel.ServicesList"
						(onMediaClick)="doFeatureClick($event)"
						[showTitle]="true"
						[showType]="false"></stm-media-slider>
</section>
