@import '../../../../../styles/variables.scss';
@import '../../../../../styles/breakpoints.scss';


.service-detail-container
{
	cdf-media
	{
	    height: 10rem;
		width: auto;

		@include bp-small()
		{
			height: 8rem;
		}

		@include bp-custom('min-width: 23.750rem')
		{
			height: 11rem;
		}

		@include bp-custom('min-width: 32.500rem')
		{
			height: 15rem;
		}

		@include bp-medium()
		{
			height: 17.5rem;
		}

		@include bp-medium-mid()
		{
			height: 19.5rem;
		}

		@include bp-medium-mid-max()
		{
			height: 23rem;
		}

		@include bp-medium-max()
		{
			height: 27rem;
		}

		@include bp-large-max()
		{
			height: 30.5rem;
		}
	}

	&__type
	{
		background-color: $color-service;
		color: $color-white;
		display: inline-block;
		padding: 0.25rem 0.5rem;
		margin: 1.5rem 1rem 1.5rem 0;
	}

	&__title
	{
		font-family: "OpenSansBold";
		font-size: 1.75rem;
		margin: 0.5rem 0 0.75rem 0;
	}

	&__intro
	{
		font-family: "OpenSansBold";
		line-height: 1.35;
		margin: 0 0 1rem;
	}
}

@include bp-large() {
	.service-detail-container
	{
		padding-top: 80px;
	}
}
