@import '../../../../styles/variables.scss';
@import '../../../../styles/breakpoints.scss';


cdf-media
{
	height: 15rem;
	width: 100%;
}

.about-us-container
{
	&__welcome
	{
		color: $color-white;
		font-size: 1.5rem;
		line-height: 1;
		margin: auto;
		text-align: center;
		width: 85%;
	}

	&__quickFacts
	{
		background-color: $color-background;
		border-bottom: solid 1px $color-border;
		border-left: solid 1px $color-border;
		border-right: solid 1px $color-border;
		margin: auto;
		padding: 0;

		.small-up-3>div
		{
			padding: 0;
		}

		&__title
		{
			background-color: $color-secondary;
			color: $color-white;
			font-size: 1rem;
			line-height: 3.5rem;
			text-align: center;
			width: 100%;
		}

		&__fact
		{
			border-right: solid 1px $color-border;
			border-bottom: solid 1px $color-border;
			height: 3.5rem;
			line-height: 3.5rem;
			padding: 0.5rem 0 0 0;
			text-align: center;
			width: 100%;

			.key
			{
				color: $color-grey-dark;
				display: block;
				font-size: 0.75rem;
				line-height: 1;
				padding-bottom: 0.25rem;
			}

			.value
			{
				display: block;
				font-family: QuatroSlabSemiBold;
				font-size: 1rem;
				line-height: 1;
			}
		}
	}

	&__imageWrapper
	{
		position: relative;

		.foreground
		{
			bottom: 0;
			height: 100%;
			left: 0;
			margin: 0 auto;
			max-width: 56.25rem;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&__image
		{
			position: relative;
			height: 20vh;
			width: 100%;
		}
	}

	.page__title
	{
		margin: 2rem 0;
	}
}


.section-title
{
	margin: 2rem 0;
}


.employee-container
{
	margin-bottom: 3rem;

	cdf-media
	{
		border: solid 1px $color-border;
		cursor: pointer;
		margin: 0 0 1rem 0;
	}

	.employee-row
	{
		margin: 0 0 3rem 0;
	}

	cdf-image
	{
		/deep/
		{
			.cdf-background-image
			{

			}
		}
	}
}

@include bp-medium()
{
	.page-container
	{
		header
		{
			&[role=page]
			{
				cdf-media
				{
					height: 35rem;
				}
				.header-container
				{
					.row
					{
						height: 35rem;
					}
				}
			}
		}
	}
}

@include bp-small()
{
	.page-container
	{
		header
		{
			&[role=page]
			{
				.header-container
				{
					h2
					{
						font-size: 2rem;
					}
				}
			}
		}
	}
}
