<section class="page-container" *ngIf="PageData">

	<!--PAGE HEADER-->
	<header role="page">
		<!--ABOUT-US MEDIA-->
		<cdf-media [mediaModel]="PageData.MediaModel"></cdf-media>

		<div class="header-container">
			<section class="row collapse align-middle">
				<div class="columns align-self-middle">
					<h2>{{PageData.Description}}</h2>
				</div>
			</section>
		</div>
	</header>


	<!--QUICK FACTS-->
	<section class="row small-up-2 medium-up-5 collapse">
		<div class="column">
			<h5 class="about-us-container__quickFacts__title">
				Quick Facts:
			</h5>
		</div>
		<div class="column" *ngFor="let quickFact of PageData.QuickFacts">
			<div class="about-us-container__quickFacts__fact">
				<span class="key">{{quickFact.Key}}</span>
				<span class="value">{{quickFact.Value}}</span>
			</div>
		</div>
	</section>


	<!--OUR HISTORY-->
	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<h2 class="section-title">Our History</h2>
		</div>
	</section>

	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<span [innerHTML]="PageData.OurHistory"></span>
		</div>
	</section>


	<!--EMPLOYEES-->
	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<h2 class="section-title">Our Leadership</h2>
		</div>
	</section>

	<div class="employee-container">
		<section class="employee-row" *ngFor="let employee of PageData.EmployeeList; let i = index">
			<section class="row align-center">
				<div class="column large-4">
					<cdf-media [mediaModel]="employee.MediaModel"></cdf-media>
				</div>

				<div class="column large-6">
					<h3 class="mployee-profile-container__employeeName">{{employee.FirstName}} {{employee.LastName}}</h3>
					<h4 class="mployee-profile-container__employeeTitle">{{employee.Title}}</h4>
					<div class="mployee-profile-container__description" [innerHTML]="employee.Description"></div>
				</div>
			</section>
		</section>
	</div>


	<!--NEWS & EVENTS-->
	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<h2 class="section-title">News & Events</h2>
			<h4>Awards</h4>
		</div>
	</section>

	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<span [innerHTML]="PageData.Recognitions"></span>
		</div>
	</section>

	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<h4>News</h4>
		</div>
	</section>

	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<span [innerHTML]="PageData.News"></span>
		</div>
	</section>


	<!--CAREERS-->
	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<h2 class="section-title">Careers</h2>
		</div>
	</section>

	<section class="row align-center">
		<div class="column small-10 medium-9 large-8">
			<span [innerHTML]="PageData.Careers"></span>
		</div>
	</section>


</section>
