@import '../../../../../styles/variables';
@import '../../../../../styles/breakpoints';


@include bp-large()
{
	article
	{
		&.slide 
		{
			background-color: $color-secondary; 
			height: 80vh; 
			overflow: hidden;
			position: relative;

			.row
			{
				max-width: 55rem;
			}

			.page-title
			{
				color: $color-white;
				font-size: 4rem;
				margin: 1.5rem 0 2.5rem 0;
			}

			.project__subtitle
			{
				color: $color-white;
				font-family: QuatroSlabBold;
				font-size: 1.85rem;
				margin: 0;			
			}

			.projectIndicatorContainer
			{
				margin: 3rem 0 1.5rem 0;

				.fa
				{
					color: $color-white;
					font-size: 1.5rem;
					margin: 0 0.5rem 0 0;
				}
			}	

			.learnMoreContainer
			{
				&__title
				{
					color: $color-white;
					font-size: 1.125rem;
					font-family: OpenSansLight;
				}
			}

			.project__description
			{
				color: $color-white;
				text-align: left;
			}

			.button.hollow
			{
				border-color: $color-white;
				color: $color-white;
			}	


			&:nth-child(2n),
			&:nth-child(5n)
			{
				background-color: $color-white; 

				.page-title,
				.project__subtitle,
				.project__description
				{
					color: $color-black;
				}		

				.button.hollow
				{
					border-color: $color-black;
					color: $color-black;
				}	

				.projectIndicatorContainer
				{
					.fa
					{
						color: $color-black;
					}
				}	

				.learnMoreContainer
				{
					&__title
					{
						color: $color-black;
					}
				}														
			}

			&:nth-child(3n)
			{
				background-color: $color-black; 

				.page-title,
				.project__subtitle,
				.project__description
				{
					color: $color-white;
				}		

				.button.hollow
				{
					border-color: $color-white;
					color: $color-white;
				}			

				.projectIndicatorContainer
				{
					.fa
					{
						color: $color-white;
					}
				}		

				.learnMoreContainer
				{
					&__title
					{
						color: $color-white;
					}
				}										
			}

			&:nth-child(4n)
			{
				background-color: $color-secondary; 

				.page-title,
				.project__subtitle,
				.project__description
				{
					color: $color-black;
				}			

				.button.hollow
				{
					border-color: $color-black;
					color: $color-black;
				}			

				.projectIndicatorContainer
				{
					.fa
					{
						color: $color-black;
					}
				}		

				.learnMoreContainer
				{
					&__title
					{
						color: $color-black;
					}
				}						
			}


			&:last-child
			{
				background-color: $color-background-hover; 

				.page-title,
				.project__subtitle,
				.project__description
				{
					color: $color-black;
				}			

				.button.hollow
				{
					border-color: $color-black;
					color: $color-black;
				}			

				.projectIndicatorContainer
				{
					.fa
					{
						color: $color-black;
					}
				}		

				.learnMoreContainer
				{
					&__title
					{
						color: $color-black;
					}
				}						
			}			

			.pin-wrapper 
			{
				width: 100%;
				height: 100%;
			}

			&:not(:first-child) .pin-wrapper
			{
				transform: translateY(-100%);
			}

			&.firstSlide .pin-wrapper
			{
				transform: translateY(0);
			}
		}

		cdf-media
		{
			height: 420px;
			width: 420px;			
		}	
	}	
}