<stm-mobile-header title="Welcome">

	<section class="page-container" *ngIf="(PageData)">

		<!--PAGE HEADER-->
		<header role="page">
			
				<section  class="cdf-background-image"  style="background-image: url(&quot;https://a022bcec-0c8d-4f5d-b4ad-338c24b49149-hosted.cloudcms.net/static/node/947fd4c788d6dfd7a826?branchId=c27456c5add2b76e6f5a&quot;);height:10em;background-size:cover;">		
				</section>
			

			<!--MEDIA
			<cdf-video-background [mediaModel]="PageData.BackgroundImageModel" style="height:18.75rem !important;"></cdf-video-background>-->

		</header>

		<div class="main-container">
			 <!-- SERVICES -->
            <div id="serviceContainer" class="serviceContainer">
                <stm-services-list></stm-services-list>
            </div>


            <!-- PORTFOLIO -->
            <div id="projectContainer" class="projectContainer">
                <stm-projects-list></stm-projects-list>
            </div>
		</div>


		<!-- FEATURE ITEMS
		<stm-media-slider [mediaModelList]="PageData.FeatureList"
							[showType]="true"
							[showTitle]="true"
							(onMediaClick)="onMediaClick($event)"></stm-media-slider> -->
	</section>

</stm-mobile-header>

