@import '../../../../styles/variables.scss';
@import '../../../../styles/breakpoints.scss';


.page-container
{
	header
	{
		&[role=page]
		{
			cdf-video-background
			{
				height: 23.75rem;
				position: relative;
			}

			.header-container
			{
				width: 100%;

				.row
				{
					height: 100%;
        		}

				h2 {
					font-size: 1.5rem;
				}
			}

			.shadow
			{
				background-color: rgba(0,0,0,0.4);
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
}

