<stm-mobile-header title="Welcome">

	<section class="page-container" *ngIf="(PageData)">

		<!--PAGE HEADER-->
		<header role="page">
			<!--MEDIA-->
			<cdf-video-background [mediaModel]="PageData.BackgroundImageModel"></cdf-video-background>
		</header>

		<div class="main-container">
			 <!-- SERVICES -->
            <div id="serviceContainer" class="serviceContainer" isInView (notify)='onNotifyServiceInView($event)'>
                <stm-services-list></stm-services-list>
            </div>


            <!-- PORTFOLIO -->
            <div id="projectContainer" class="projectContainer" isInView (notify)='onNotifyProjectInView($event)'>
                <stm-projects-list></stm-projects-list>
            </div>
		</div>


		<!-- FEATURE ITEMS
		<stm-media-slider [mediaModelList]="PageData.FeatureList"
							[showType]="true"
							[showTitle]="true"
							(onMediaClick)="onMediaClick($event)"></stm-media-slider> -->
	</section>

</stm-mobile-header>
