<section class="page-container" *ngIf="(PageData)">

	<!--PAGE HEADER-->
	<header role="page">
		<!--PAGE MEDIA-->
		<cdf-media [mediaModel]="PageData.BackgroundImageModel"></cdf-media>

		<div class="header-container">
			<div class="row align-middle">
				<div class="column flex-container flex-dir-column text-center">

					<!--TAGLINES-->
					<div class="flex-child-shrink">
						<h2>{{PageData.Tagline}}</h2>
						<h3>{{PageData.SubTagline}}</h3>
					</div>

					<!--CALL-TO-ACTION-->
					<div class="flex-child-shrink">
						<a class="button hollow opaque small radius" (click)="goToSay($event)">Say Hello...</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--MAP-->
	<section class="page-container__background-image">
		<cdf-media [mediaModel]="PageData.MapImage" class="show-for-medium"></cdf-media>

		<section class="page-container__background-image__content">

			<div class="row align-middle">
				<div class="column medium-shrink flex-container flex-dir-column">

					<!--ADDRESS LIST-->
					<div class="callout flex-child-shrink">
						<h2 class="section-title">Address</h2>
						<stm-address-list></stm-address-list>
					</div>

					<!--PHONE NUMBER LIST-->
					<div class="callout flex-child-shrink">
						<h2 class="section-title">Give Us A Call</h2>
						<stm-phone-number-list></stm-phone-number-list>
					</div>

					<!--SOCIAL MEDIA LIST-->
					<div class="callout flex-child-shrink">
						<h2 class="section-title">Social Connections</h2>
						<stm-social-media-list></stm-social-media-list>
					</div>

				</div>
			</div>

		</section>

	</section>

	<!--CALL-TO-ACTION-->
	<div class="flex-child-shrink" id="sayHi">
	</div>

	<!--CONTACT US FORM-->
	<section class="page-container__form-container">
		<section class="row  align-center collapse">
			<div class="column small-10 medium-10 large-6">

				<!--DESCRIPTION-->
				<h2 class="section-title">Contact Us</h2>
				<p class="contact-message">{{PageData.FormDescription}}</p>

				<!--FORM-->
				<h2 class="section-title">Send Us A Message...</h2>
				<cdf-contact-us-form (NotifyFormSubmitted)="onNotifyFormSubmitted($event)"></cdf-contact-us-form>
			</div>
		</section>
	</section>
</section>
