@import '../../../../styles/variables.scss';
@import '../../../../styles/breakpoints.scss';

.page-container
{
	header
	{
		&[role=page]
		{
			cdf-media
			{
				height: 15rem;
				width: 100%;

				// media queries using breakpoints defined in breakpoints.scss
				@include bp-medium()
				{
					height: 20rem;
				}

				@include bp-medium-mid()
				{
					height: 25rem;
				}		

				@include bp-large()
				{
					height: 35rem;
				}						
			}	

			.header-container
			{
				.row
				{
					height: 15rem;

					@include bp-medium()
					{
						height: 20rem;
					}

					@include bp-medium-mid()
					{
						height: 25rem;
					}		

					@include bp-large()
					{
						height: 35rem;
					}								
				}				

				h2
				{
					font-size: 2.125rem;
					padding: 1.125rem 1.5rem 0;

					@include bp-medium()
					{
						font-size: 4rem;
						padding: 1.5rem 0;									
					}

					@include bp-medium-mid()
					{
						font-size: 4rem;
						padding: 1.5rem 0;									
					}					
				}

				h3
				{
					color: $color-grey;
					padding: 1rem 1.5rem .5rem;			

					@include bp-medium()
					{
						font-size: 2rem;
						padding: 1rem 0;									
					}

					@include bp-medium-mid()
					{
						font-size: 2rem;
						padding: 1rem 0;						
					}				
				}			

				.button.hollow
				{
					border: 2px solid white;
					color: white;
					font-weight: bold;
					font-size: 16px;
				}
			}
		}
	}

	&__background-image
	{
		@include bp-medium()
		{
			position: relative;
		}

		cdf-media
		{
			height: 15rem;
			width: 100%;

			@include bp-medium()
			{
				height: 25rem;
			}		

			@include bp-medium-mid()
			{
				height: 30rem;
			}	

			@include bp-large()
			{
				height: 35rem;
			}											
		}

		.row
		{
			@include bp-medium()
			{
				height: 25rem;
			}		

			@include bp-medium-mid()
			{
				height: 30rem;
			}	

			@include bp-large()
			{
				height: 35rem;
			}			
		}		
				
		&__content
		{
			padding: 2rem;

			@include bp-medium()
			{
				bottom: 0;
				left: 50%;
				position: absolute;
				right: 0;
				top: 0;				
			}			
		}			
	}

	&__form-container
	{
		margin: 0 0 1rem 0;
		padding: 1.25rem;

		h2
		{
			&.section-title
			{
				margin: 2rem 0;
			}
		}

		@include bp-medium-mid()
		{
			padding-top: 4rem;

			h2
			{
				margin-bottom: 1rem;
			}				
		}		
	}	

	stm-social-media-list
	{
		/deep/
		{
			font-size: 1.25rem;

			stm-social-media-item
			{
				display: inline-block;
				font-size: 2rem;
				margin: 0 0.5rem;

				a
				{
					color: $color-grey-medium;
				}
			}
		}
	}
}

@include bp-small()
{

}


@include bp-medium()
{
	h2
	{
		&.section-title
		{
			font-size: 1.25rem;
		}
	}	

	.callout
	{
		padding: 0.5rem 1rem;
	}

	stm-address-list
	{
		/deep/
		{
			.vcard
			{
				font-size: 1.25rem;
			}			
		}
	}	


	stm-phone-number-list
	{
		/deep/
		{
			font-size: 1.25rem;

			dl dt
			{
				display: none;
			}
		}
	}


	stm-social-media-list
	{
		/deep/
		{
			font-size: 1.25rem;

			stm-social-media-item
			{
				display: inline-block;
				font-size: 2rem;
				margin: 0 0.5rem;

				a
				{
					color: $color-grey-medium;
				}				
			}						
		}
	}	
}


@include bp-medium-mid()
{
	h2
	{
		&.section-title
		{
			font-size: 1.5rem;
		}
	}	

	.callout
	{
		padding: 1rem;
	}

	stm-address-list
	{
		/deep/
		{
			.vcard
			{
				font-size: 1.5rem;
			}			
		}
	}	


	stm-phone-number-list
	{
		/deep/
		{
			font-size: 1.5rem;

			dl dt
			{
				display: none;
			}
		}
	}


	stm-social-media-list
	{
		/deep/
		{
			font-size: 1.5rem;

			stm-social-media-item
			{
				font-size: 3rem;
			}						
		}
	}					
}


@include bp-large()
{
	h2
	{
		&.section-title
		{
			font-size: 1.75rem;
		}
	}	

	stm-address-list
	{
		/deep/
		{
			.vcard
			{
				font-size: 1.75rem;
			}			
		}
	}	


	stm-phone-number-list
	{
		/deep/
		{
			font-size: 1.75rem;

			dl dt
			{
				display: none;
			}
		}
	}


	stm-social-media-list
	{
		/deep/
		{
			font-size: 1.75rem;

			stm-social-media-item
			{
				font-size: 4rem;
			}						
		}
	}	
}		