<section class="page-container" *ngIf="(PageData)">

	<!--PAGE HEADER-->
	<header role="page">
		<!--PAGE MEDIA-->
		<cdf-media [mediaModel]="PageData.BackgroundImageModel"></cdf-media>
	</header>

	<!--MAP-->
	<section class="page-container__background-image">
		<cdf-media [mediaModel]="PageData.MapImage" class="show-for-medium"></cdf-media>

		<section class="page-container__background-image__content">

			<div class="row align-middle">
				<div class="column medium-shrink flex-container flex-dir-column">
				</div>
			</div>

		</section>

	</section>

	<!--CALL-TO-ACTION-->
	<div class="flex-child-shrink" id="sayHi">
	</div>

	<!--CONTACT US INFO-->
	<section class="page-container__form-container section-info">
		<section class="row  align-center collapse">
			<div class="column small-10 medium-10 large-6">
				<h2 class="section-info-title">Get In Touch</h2>

				<!--ADDRESS LIST-->
				<div class="flex-child">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<h3>Screwtopmedia</h3>
				</div>

				<div class="flex-child">
					<stm-address-list></stm-address-list>
				</div>

				<!--PHONE NUMBER LIST-->
				<div class="flex-child last-child">
					<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
					<stm-phone-number-list></stm-phone-number-list>
				</div>
			</div>
		</section>
	</section>

	<!--CONTACT US FORM-->
	<section class="page-container__form-container">
		<section class="row  align-center collapse">
			<div class="column small-10 medium-10 large-6">

				<!--DESCRIPTION-->
				<h2 class="section-title">Contact Us</h2>
				<p class="contact-message">{{PageData.FormDescription}}</p>

				<!--FORM-->
				<h2 class="section-title">Send Us A Message...</h2>
				<cdf-contact-us-form (NotifyFormSubmitted)="onNotifyFormSubmitted($event)"></cdf-contact-us-form>
			</div>
		</section>
	</section>
</section>
