@import '../../../../../styles/variables';
@import '../../../../../styles/breakpoints';

.sub-service-detail-container {
	margin: 2rem 0;

	&__title {
		border-bottom: 1px dashed #C3C3C3;
		font-family: "OpenSansBold";
    	font-size: 1.5rem;
    	margin: 0.5rem 0 0.75rem 0;
    	padding-bottom: 1rem;
	}

	&__body {
		display: flex;
		margin-top: 1rem;
	}

	&__media {
		margin-right: 3rem;
		width: 20rem;
	}

	&__img {
		max-width: 20rem;
	}
}
