<section class="sub-service-detail-container" *ngIf="(subService)">

	<!--SERVICE TITLE-->
	<section class="row">
		<div class="column">
			<h2 class="sub-service-detail-container__title">{{subService.Title}}</h2>
		</div>
	</section>

	<section class="row">
		<div class="sub-service-detail-container__body">
			<!-- SERVICE MEDIA -->
			<div class="sub-service-detail-container__media">
				<img class="sub-service-detail-container__img" [src]="subService.ImageUri">
			</div>

			<!--SERVICE DESCRIPTION-->
			<div class="">
				<p class="sub-service-detail-container__intro" [innerHTML]="subService.Description"></p>
			</div>
		</div>
	</section>

	<!--SERVICE BODY-->
	<section class="row">
		<div class="column">
			<span [innerHTML]="subService.Body"></span>
		</div>
	</section>
</section>
