<footer role="topFooter" class="footer text-center">
	<section class="row align-center footer__container">
		<div class="footer__item">
			<div class="flex-child-shrink">
				<h2 class="section-title">Address</h2>
				<stm-address-list></stm-address-list>
				<a class="emailto" href="mailto:info@screwtopmedia.com">info@screwtopmedia.com</a>
			</div>
		</div>
		<div class="footer__item">
			<section class="row align-middle align-center">
				<div class="flex-child-shrink">
					<h2 class="section-title">Social</h2>
					<stm-social-media-list></stm-social-media-list>
				</div>
			</section>
		</div>
		<div class="footer__item">
			<section class="row align-middle align-center">
				<div class="flex-child-shrink">
					<h2 class="section-title">Give Us A Call</h2>
					<stm-phone-number-list></stm-phone-number-list>
				</div>
			</section>
		</div>
	</section>
</footer>

<footer role="bottomFooter" class="text-center footer-aditional">
	<div class="column">
		copyright <i class="fa fa-copyright"></i> 2017. All rights reserved.
	</div>
	<div class="column">
		made with <i class="fa fa-heart"></i> by <a href="http://www.screwtopmedia.com" target="_blank">screwtopmedia.com</a>
	</div>
</footer>

