@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/breakpoints.scss';


:host
{
    background-color: $color-background-footer;
    border-top: solid 1px $color-tertiary;
    display: block;
    height: 50px;
    opacity: 0.95;
}

.footer {
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding: 2rem;
	}

	&__item {
		background-color: white;
		border: 1px dashed;
		font-size: 1.5rem;
		margin: 1rem .5rem;
    	padding: 1rem;
		width: 240px;
	}

	.section-title
	{
		font-size: 1.5rem;
	}

	.emailto {
		font-size: 1rem;
	}

	stm-address-list
	{
		/deep/ stm-address-item
		{
			font-size: 1rem;

			.vcard
			{
				font-size: 1rem;
			}
		}
	}

	stm-social-media-list
	{
		/deep/ stm-social-media-item
		{
			display: inline-block;
			font-size: 2rem;
			padding: 0 1rem;

			a
			{
				color: $color-grey;
			}
		}
	}
}

.footer-aditional {
	background-color: $color-primary;
	display: flex;
	color: white;
	padding: 1rem;
}
