@import '../../../../../../styles/variables';
@import '../../../../../../styles/breakpoints';


:host
{
    background-color: $color-background-footer;
    border-top: solid 1px $color-tertiary;
    display: block;
    height: 50px;	
    margin-top: 4rem;
    opacity: 0.95;
}