@import '../../../../styles/variables.scss';
@import '../../../../styles/breakpoints.scss';


cdf-media-slider
{
	/deep/
	{
		.media-slider-flex-item
		{
			/* CUSTOMIZE EACH MEDIA ELEMENT HERE... */
		}

		cdf-media
		{
			/deep/
			{
				.cdf-media-title
				{
					color: $color-white;	
					display: none;
					font-family: $font-family-text-slim;

					// media queries using breakpoints defined in breakpoints.scss
					@include bp-medium()
					{
						font-size: 2rem;
					}
				}

				.cdf-media-type
				{
					color: $color-white;
					display: inline-block;
					font-size: 1rem;
					padding: 0.25rem 0.5rem;
					margin: 1.5rem 1rem 1.5rem 0;

					@include bp-medium()
					{
						font-size: 1.25rem;
					}
				}

				.cdf-media-type-project
				{
					background-color: $color-project;
				}

				.cdf-media-type-service
				{
					background-color: $color-service;
				}

				.cdf-media-type-production
				{
					background-color: $color-production;
				}
			}		
		}	

		.cdf-info-pane-container
		{
			padding: 1rem;
			z-index: 100;

			&__title
			{
				margin: 0.75rem 0 1rem 0;
				font-size: 1.5rem;
				line-height: 1.2;
			}

			&__button
			{
				margin: 2rem 0 0 0;
			}
		}					
	}
}
